<% include partials/header %>
    <h1>Send Emails</h1>
    <% if(errors !=undefined){ %>
        <ul>
            <% errors.forEach(function(error){ %>
                <li>
                    <%= error.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>
            <form method="POST" action="/send-email">
                <label>From</label>
                <br>
                <input type="text" name="from">
                <br>
                <label>To</label>
                <br>
                <input type="text" name="to">
                <br>
                <label>Subject</label>
                <br>
                <input type="text" name="subject">
                <br>
                <label>Body</label>
                <br>
                <input type="text" name="body_text">
                <br>
                <input type="submit" value="Submit">
            </form>

            <form method="POST" action="/bounced-email">
                <label>BOUNCE</label>
                <br>
                <input type="text" name="email">
                <br>
                <input type="submit" value="Bounce">
            </form>
            <% include partials/footer %>